
@model CreateEmployeeDto
@* @inject IDepartmentRepository _departmentRepo *@

@{
    var departments = new SelectList(ViewData["departments"] as IEnumerable<Department> ,"Id" , "Name");
    // var departments = new SelectList(_departmentRepo.GetAll() , "Id", "Name");
}


<div class="my-3">
    <label asp-for="Name" class="col-form-label"></label>
    <input asp-for="Name" class="form-control" />
    <span asp-validation-for="Name" class="text-danger"></span>
</div>

<div class="my-3">
    <label asp-for="Age" class="col-form-label"></label>
    <input asp-for="Age" class="form-control" />
    <span asp-validation-for="Age" class="text-danger"></span>
</div>


<div class="my-3">
    <label asp-for="Email" class="col-form-label"></label>
    <input asp-for="Email" class="form-control" />
    <span asp-validation-for="Email" class="text-danger"></span>
</div>

<div class="my-3">
    <label asp-for="Adress" class="col-form-label"></label>
    <input asp-for="Adress" class="form-control" />
    <span asp-validation-for="Adress" class="text-danger"></span>
</div>

<div class="my-3">
    <label asp-for="Phone" class="col-form-label"></label>
    <input asp-for="Phone" class="form-control" />
    <span asp-validation-for="Phone" class="text-danger"></span>
</div>

<div class="my-3">
    <label asp-for="Salary" class="col-form-label"></label>
    <input asp-for="Salary" class="form-control" />
    <span asp-validation-for="Salary" class="text-danger"></span>
</div>

<div class="my-3 form-check">
    <input asp-for="IsActive" type="checkbox" class="form-check-input" />
    <label asp-for="IsActive" class="form-check-label"></label>
    <span asp-validation-for="IsActive" class="text-danger"></span>
</div>

<div class="my-3 form-check">
    <input asp-for="IsDeleted" type="checkbox" class="form-check-input" />
    <label asp-for="IsDeleted" class="form-check-label"></label>
    <span asp-validation-for="IsDeleted" class="text-danger"></span>
</div>

<div class="my-3">
    <label asp-for="HiringDate" class="col-form-label"></label>
    <input asp-for="HiringDate" class="form-control" />
    <span asp-validation-for="HiringDate" class="text-danger"></span>
</div>

<div class="my-3">
    <label asp-for="CreateAt" class="col-form-label"></label>
    <input asp-for="CreateAt" class="form-control" />
    <span asp-validation-for="CreateAt" class="text-danger"></span>
</div>

<div>
    <label asp-for="DepartmentId" class="col-form-label"></label>
    <select asp-for="DepartmentId" asp-items="departments" class="form-control">
        <option value="">--- Select Department ---</option>
    </select>
</div>
