@model Employee

@{
    ViewData["Title"] = "Details";
}

<h1>Details Page</h1>

<br />
<br />

<form asp-action="Create">

    <partial name="EmployeePartialView/_DeleteDetailsPartialView" />

    <div class="my-3">
        <a asp-action="Update" asp-route-id="@Model.Id" asp-controller="Employee" class="btn btn-warning">Edit</a>
        <a asp-action="Index" asp-controller="Employee" class="btn btn-light">Back To List</a>
    </div>
</form>