
@model Department

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete Page</h1>

<br />
<br />

<form asp-action="Delete" method="post">
 
    <partial name="DepartmentPartialView/_DeleteDetailsDepartmentPartialView" />

    <div class="my-3">
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="Index" asp-controller="Department" class="btn btn-light">Back To List</a>
    </div>
</form>
