@{
    ViewData["Title"] = "Privacy Policy";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/privacy.css" />
</head>
<body>
    <link rel="stylesheet" href="~/css/Privacy.css" />
    <div class="container">
        <header>
            <h1>@ViewData["Title"]</h1>
        </header>
        <section class="content">
            <p>page to detail My site's privacy policy.</p>
        </section>
    </div>
</body>
</html>
